<table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
           <th>Student</th>
           <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <% for (var c in data) { %>
        <tr>
          <td> <%= data[c].Name %>
          </td>
          <td> <%= data[c].TotalScore %></td>
        </tr>
        <% } %>
        <tr>
            <td>she7ta</td>
            <td>80</td>
        </tr>
        </tbody>
      </table>